*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 95vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #e03652;
  color: white;
}
.blue {
  background-color: #2471ec;
  color: white;
}

.home {
  background-color: #55A630;
  color: white;
}

.yellow {
  background-color: #ddda28;
  color: white;
}

.footer{
  background-color: #28dadd;
  color: #ddda28;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  padding: 10px;
  justify-content: space-evenly;
}

.container{
  background-color: #28dadd;
  color: #ddda28;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  padding: 10px;
  justify-content: space-evenly;
}
